[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=XSD_Test
Exec=/opt/XSD_Test/bin/XSD_Test
Icon=XSD_Test
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
